/*styles.css*/

html {
    padding: 0px;
    margin: 0px;
    background: url(background.jpg) no-repeat center fixed;
    background-size: cover;
}
body {

    font-family: sans-serif;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreboard {
    min-height: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 3.5rem;
    color: white;
    text-shadow: 0 0 .5rem black;
}
#underboard {
    padding-top: 15px;
    font-size: 1.75rem;
}

#selections {
/*    min-height: 200px;*/
    display: flex;
    justify-content: space-around;



}
#rock, #paper, #scissors {
    min-height: 120px;
    min-width: 130px;
    background-color: rgba(255, 255, 255, 0.15);
    border: .3rem;
    border-style: solid;
    border-color: white;
    border-radius: .4rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 .4rem black;
    box-shadow: 0 0 0.4rem black;
}
#resultdisplay {
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: .3rem;
    border-style: solid;
    border-color: white;
    border-radius: .4rem;
    font-size: 6rem;
    color: white;
    text-shadow: 0 0 .4rem black;
    align-self: flex-end;
    box-shadow: 0 0 0.4rem black;
    
}
#cheatbox {
    height: 57vh;
    display: flex;
}

